<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>adminLoginFormServlet</servlet-name>
        <servlet-class>mymall.controller.AdminLoginFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLoginFormServlet</servlet-name>
        <url-pattern>/admin/loginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>mymall.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>mymall.controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminProductListServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductListServlet</servlet-name>
        <url-pattern>/admin/product/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductInsertFormServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductInsertFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductInsertFormServlet</servlet-name>
        <url-pattern>/admin/product/insertForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductInsertServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductInsertServlet</servlet-name>
        <url-pattern>/admin/product/insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductDetailServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductDetailServlet</servlet-name>
        <url-pattern>/admin/product/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductUpdateFormServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductUpdateFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductUpdateFormServlet</servlet-name>
        <url-pattern>/admin/product/updateForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductUpdateServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductUpdateServlet</servlet-name>
        <url-pattern>/admin/product/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminProductDeleteServlet</servlet-name>
        <servlet-class>mymall.controller.AdminProductDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminProductDeleteServlet</servlet-name>
        <url-pattern>/admin/product/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>adminOrderListServlet</servlet-name>
        <servlet-class>mymall.controller.AdminOrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminOrderListServlet</servlet-name>
        <url-pattern>/admin/order/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminOrderDetailServlet</servlet-name>
        <servlet-class>mymall.controller.AdminOrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminOrderDetailServlet</servlet-name>
        <url-pattern>/admin/order/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminOrderUpdateServlet</servlet-name>
        <servlet-class>mymall.controller.AdminOrderUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminOrderUpdateServlet</servlet-name>
        <url-pattern>/admin/order/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginFormServlet</servlet-name>
        <servlet-class>mymall.controller.LoginFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginFormServlet</servlet-name>
        <url-pattern>/member/loginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>mymall.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/member/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>mymall.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/member/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productListServlet</servlet-name>
        <servlet-class>mymall.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productListServlet</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderFormServlet</servlet-name>
        <servlet-class>mymall.controller.OrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderFormServlet</servlet-name>
        <url-pattern>/order/orderForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderInsertServlet</servlet-name>
        <servlet-class>mymall.controller.OrderInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderInsertServlet</servlet-name>
        <url-pattern>/order/orderInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderListServlet</servlet-name>
        <servlet-class>mymall.controller.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderListServlet</servlet-name>
        <url-pattern>/order/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>mymall.controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/order/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderCancelServlet</servlet-name>
        <servlet-class>mymall.controller.OrderCancelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderCancelServlet</servlet-name>
        <url-pattern>/order/cancel</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/error/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error.html</location>
    </error-page>
    <filter>
        <filter-name>encodeFilter</filter-name>
        <filter-class>mymall.filter.EncodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>adminLoginFilter</filter-name>
        <filter-class>mymall.filter.AdminLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminLoginFilter</filter-name>
        <url-pattern>/admin/product/*</url-pattern>
        <url-pattern>/admin/order/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>userLoginFilter</filter-name>
        <filter-class>mymall.filter.UserLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userLoginFilter</filter-name>
        <url-pattern>/order/*</url-pattern>
    </filter-mapping>
</web-app>